# Hugeicons Pro registry. Token is read from the HUGEICONS_TOKEN env var so the
# license key is never committed. Set it in your shell profile, e.g.:
#   export HUGEICONS_TOKEN=<your-universal-license-key>
@hugeicons-pro:registry=https://npm.hugeicons.com/
//npm.hugeicons.com/:_authToken=${HUGEICONS_TOKEN}
